<!DOCTYPE html>
 {%load static%}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Farm Proxy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="205">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="index.html">Farm Proxy</a> </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html#about">About</a></li>
                    <li><a href="{% url 'crop' %}">CROP</a></li>
                    <li><a href="{% url 'disease' %}">Disease</a></li>
                    <li><a href="index.html#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="container-box">

        <div class="row">
            <div class="col-md-12">
              <form action="index.html" method="post">
                  <br>
                <h1> Upload a picture of your crop
                </h1>
                <br>


                <fieldset>
                    <label for="img" class="image-preview">Nitrogen:</label>
                    <input name="img"  id="img" class="input-preview__src" type="file">
                </fieldset>

                <button class="btn-default-new" type="submit">Detect!</button>

               </form>
                </div>
              </div>



    </div>





    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <h3>Let's Get In Touch!</h3>
                    <p>IMPROVING AGRICULTURE, IMPROVING LIVES, CULTIVATING CROPS TO MAKE FARMERS INCREASE PROFIT.</p>
                    <br>
                    <div id="grid">
                        <div>
                            <span class="glyphicon glyphicon-earphone"></span>
                            <a href="tel:123456789">123-456-789</a>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-envelope"></span>
                            <a href="mailto:get@bootstrap.com">farmer@helpcontact.com</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'animate.js' %}">

    </script>

  </body>



</html>